<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 34 hola adios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <div class="ion-padding ion-text-center">
    <!-- Mostrar botón de login si NO está autenticado -->
    <ion-button *ngIf="!(user$ | async)" (click)="signInWithGoogle()" expand="block" color="primary">
      Iniciar sesión con Google
    </ion-button>

    <ion-button *ngIf="!(user$ | async)" (click)="loginWithMicrosoft()" expand="block" color="secondary">
      Iniciar sesión con Microsoft
    </ion-button>

    <!-- Mostrar info del usuario si ESTÁ autenticado -->
    <div *ngIf="user$ | async as user" class="user-info">
      <img [src]="user.picture" alt="Foto" class="avatar" />
      <h2>{{ user.name }}</h2>
      <p>{{ user.email }}</p>
      <ion-button (click)="signOut()" expand="block" color="danger">
        Cerrar sesión
      </ion-button>
    </div>
  </div>

  <ion-button (click)="prueba()">Prueba backend</ion-button>
</ion-content>