<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 34 hola adios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <div class="ion-padding ion-text-center">
    <div id="google-btn"></div>
<!--    <ion-button (click)="signInWithGoogle()" expand="block" color="light">-->
<!--      <ion-icon name="logo-google" slot="start"></ion-icon>-->
<!--      Iniciar sesión con Google-->
<!--    </ion-button>-->
  </div>

  <ion-button (click)="prueba()">Prueba backend</ion-button>
</ion-content>